.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 3rem auto 5rem auto;
}

.headAuth {
    font-size: 17px;
    color: blue;
    font-weight: 900;
    letter-spacing: 1px;
}

.form-control label, .form-control input {
    width: 100%;
    display: block;
}

.form-control {
    margin-bottom: 1rem;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-action button {
    background-color: rgba(255, 85, 0);
    color: white;
    border: 1px solid rgba(255, 85, 0, 0.533);
    border-radius: 3px;
    padding: 0.25rem 1rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.26);
    margin: 2rem 1rem;
    cursor: pointer;
}

.form-action button:hover, .form-action button:active {
    background-color: rgb(169, 58, 2);
    border: 1px solid rgba(247, 154, 108, 0.533);
}

.tabSwitcher {
    color: darkgreen;
    font-size: 20px;
    margin: auto;
    cursor: pointer;
}

.tabSwitcher:hover, .tabSwitcher:active {
    color: rgb(0, 63, 0);
}