.books-control {
    text-align: center;
    border: 1px solid orangered;
    padding :1rem;
    /* margin: 0 auto auto auto; */
    width: 30rem;
    max-width: 80%;
    position: absolute;
    top: 100px;
    left: 31vw;
    z-index: 1;
}

.baseContainer {
    position: absolute;
    top: 250px;
    left: 11vw;
    z-index: 1;
}

.addBookBtn {
    background-color: rgb(249, 109, 58);
    color: white;
    width: 80px;
    height: 30px;
    font-size: 15px;
    padding: 0;
}

.hr {
    width: 80vw;
    margin: 10px;
}

.showBookBtn {
    background-color: rgb(192, 89, 52);
    color: white;
    width: 100px;
    height: 30px;
    font-size: 15px;
    padding: 0;
}