.book_wrapper {
    width: 60vw;
    height: 90px;
    background-color: rgb(249, 165, 134);
    display: flex;
    justify-content: space-around;
    margin: 8px auto;
    padding:10px;
    /* border: 1px dashed rgb(147, 41, 2); */
    border-radius: 14px;
}

.title_price_date {
    height: 90px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fetchedDataText {
    height: 30px;
    font-size: 17px;
    color: rgb(56, 56, 123);
    padding: 0.3rem;
    margin: 0.3rem;
    overflow: hidden;
    text-overflow: ellipsis
}

.hrInDetail {
    width: 250px;
    border: 0.1px solid gray;
}

.description {
    height: 90px;
    width: 66%;
    top:0;
    position: relative;
    overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.descriptiveText {
    height: 40px;
    width: 100%;
}